<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!-- Creates the LocalDB schema on first database use after a fresh clone. -->
		<add key="CodeQuestAutoInitializeDatabase" value="true" />
		<add key="CodeQuestSeedDemoContent" value="true" />
		<add key="CodeQuestGoogleAiApiKey" value="AQ.Ab8RN6KpwxKRpMKN7jm0kGFe4LNRYsBHOnJt6fyQJBvSTv397A" />
		<add key="CodeQuestGoogleAiModel" value="gemini-3.5-flash" />
		<add key="CodeQuestGoogleAiEndpoint"
			 value="https://generativelanguage.googleapis.com/v1beta/models/{model}:generateContent" />
		
		<add key="CodeQuestGoogleClientId"
			 value="edit here" />

		<add key="CodeQuestGoogleClientSecret"
			value="edit here" />

		<add key="CodeQuestGoogleRedirectUri"
			value="https://localhost:44303/GoogleCallback.aspx" />

		<add key="CodeQuestSmtpHost" value="smtp.gmail.com" />
		<add key="CodeQuestSmtpPort" value="587" />
		<add key="CodeQuestSmtpSsl" value="true" />

		<add key="CodeQuestResetFromEmail"
			 value="edit here" />

		<add key="CodeQuestSmtpUsername"
			 value="edit here" />

		<add key="CodeQuestSmtpPassword"
			 value="edit here" />
	</appSettings>
	
	<connectionStrings>
		<add name="CodeQuestDb"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CodeQuestDB;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
